# Data preprocessing

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os

In [3]:
folder_path = "..\Data_FTSE"

dict_df = {}
for filename in os.listdir(folder_path):
    file_path = os.path.join(folder_path, filename)
    # print(file_path)
    if filename.endswith(".xlsx"):
        dict_df[filename.split('.')[0]] = pd.read_excel(file_path)

    if filename.endswith(".csv"):
        dict_df[filename.split('.')[0]] = pd.read_csv(file_path)

print(f"Đã đọc các file: {list(dict_df.keys())}")

for file, df in dict_df.items():
    print(f"\nDữ liệu từ file {file}:")
    print(df.head())

Đã đọc các file: ['AHT', 'BARC', 'BATS', 'BP', 'HIK', 'HLMA', 'JMAT', 'LGEN', 'PSON', 'REL', 'RKT', 'SDR', 'SGE', 'SHEL', 'SSE', 'STAN', 'STJ', 'TSCO', 'TSLA', 'VOD']

Dữ liệu từ file AHT:
        Price               Close                High                 Low  \
0      Ticker               AHT.L               AHT.L               AHT.L
1        Date                 NaN                 NaN                 NaN
2  1994-01-03  26.757431030273438  26.757431030273438  26.757431030273438
3  1994-01-04  26.837039947509766   26.83703994750977   26.83703994750977
4  1994-01-05  26.837039947509766   26.83703994750977   26.83703994750977

                 Open Volume
0               AHT.L  AHT.L
1                 NaN    NaN
2  26.757431030273438      0
3   26.83703994750977   4963
4   26.83703994750977  91909

Dữ liệu từ file BARC:
        Price              Close               High                Low  \
0      Ticker             BARC.L             BARC.L             BARC.L
1        Date                NaN                NaN                NaN
2  1994-01-03  55.46064376831055  55.46064376831055  55.46064376831055
3  1994-01-04  55.28624725341797  55.28624725341797  55.28624725341797
4  1994-01-05  53.54220962524414  53.54220962524414  53.54220962524414

                Open  Volume
0             BARC.L  BARC.L
1                NaN     NaN
2  55.46064376831055       0
3  55.28624725341797       0
4  53.54220962524414       0

Dữ liệu từ file BATS:
        Price                Close                 High                  Low  \
0      Ticker               BATS.L               BATS.L               BATS.L
1        Date                  NaN                  NaN                  NaN
2  1995-01-03  -2027.5443115234375  -2027.5443115234377  -2027.5443115234377
3  1995-01-04   -2041.538330078125  -2041.5383300781248  -2041.5383300781248
4  1995-01-05      -2050.900390625      -2050.900390625      -2050.900390625

                  Open   Volume
0               BATS.L   BATS.L
1                  NaN      NaN
2  -2027.5443115234377  1720058
3  -2041.5383300781248  3425949
4      -2050.900390625  1626261

Dữ liệu từ file BP:
        Price               Close               High                Low  \
0      Ticker                BP.L               BP.L               BP.L
1        Date                 NaN                NaN                NaN
2  1994-01-03  47.669246673583984  47.66924667358398  47.66924667358398
3  1994-01-04    46.6775016784668  46.67750167846679  46.67750167846679
4  1994-01-05   46.94197082519531  46.94197082519531  46.94197082519531

                Open    Volume
0               BP.L      BP.L
1                NaN       NaN
2  47.66924667358398         0
3  46.67750167846679  26087732
4  46.94197082519531  15036972

Dữ liệu từ file HIK:
        Price               Close                High                 Low  \
0      Ticker               HIK.L               HIK.L               HIK.L
1        Date                 NaN                 NaN                 NaN
2  2005-11-01  213.63668823242188  225.27594541204417   210.2575490512412
3  2005-11-02   211.7594451904297  217.76680533767592  211.00852517202392
4  2005-11-03  210.25758361816406  211.75942350115096  210.25758361816406

                 Open   Volume
0               HIK.L    HIK.L
1                 NaN      NaN
2  225.27594541204417  6503017
3  216.26496530086436   941885
4   211.0085035596575   465885

Dữ liệu từ file HLMA:
        Price               Close                High                 Low  \
0      Ticker              HLMA.L              HLMA.L              HLMA.L
1        Date                 NaN                 NaN                 NaN
2  1994-01-03  63.827945709228516  63.827945709228516  63.827945709228516
3  1994-01-04  62.979923248291016  62.979923248291016  62.979923248291016
4  1994-01-05  62.979923248291016  62.979923248291016  62.979923248291016

                 Open  Volume
0              HLMA.L  HLMA.L
1                 NaN     NaN
2  63.827945709228516       0
3  62.979923248291016  230713
4  62.979923248291016   63208

Dữ liệu từ file JMAT:
        Price               Close                High                 Low  \
0      Ticker              JMAT.L              JMAT.L              JMAT.L
1        Date                 NaN                 NaN                 NaN
2  1994-01-03    238.001220703125    238.001220703125    238.001220703125
3  1994-01-04  239.77084350585938  239.77084350585938  239.77084350585938
4  1994-01-05  242.42515563964844  242.42515563964844  242.42515563964844

                 Open  Volume
0              JMAT.L  JMAT.L
1                 NaN     NaN
2    238.001220703125       0
3  239.77084350585938       0
4  242.42515563964844       0

Dữ liệu từ file LGEN:
        Price               Close                High                 Low  \
0      Ticker              LGEN.L              LGEN.L              LGEN.L
1        Date                 NaN                 NaN                 NaN
2  1994-01-03   10.95197582244873   10.95197582244873   10.95197582244873
3  1994-01-04  10.995513916015625  10.995513916015625  10.995513916015625
4  1994-01-05   11.12612247467041   11.12612247467041   11.12612247467041

                 Open  Volume
0              LGEN.L  LGEN.L
1                 NaN     NaN
2   10.95197582244873       0
3  10.995513916015625       0
4   11.12612247467041       0

Dữ liệu từ file PSON:
        Price               Close                High                 Low  \
0      Ticker              PSON.L              PSON.L              PSON.L
1        Date                 NaN                 NaN                 NaN
2  1994-01-03   192.8088836669922  192.80888366699216  192.80888366699216
3  1994-01-04  196.29730224609375  196.29730224609375  196.29730224609375
4  1994-01-05   199.7855682373047   199.7855682373047   199.7855682373047

                 Open  Volume
0              PSON.L  PSON.L
1                 NaN     NaN
2  192.80888366699216       0
3  196.29730224609375       0
4   199.7855682373047       0

Dữ liệu từ file REL:
        Price               Close                High                 Low  \
0      Ticker               REL.L               REL.L               REL.L
1        Date                 NaN                 NaN                 NaN
2  1994-01-03   155.9785919189453   155.9785919189453   155.9785919189453
3  1994-01-04  160.15672302246094  160.15672302246094  160.15672302246094
4  1994-01-05   157.3712158203125   157.3712158203125   157.3712158203125

                 Open Volume
0               REL.L  REL.L
1                 NaN    NaN
2   155.9785919189453      0
3  160.15672302246094      0
4   157.3712158203125      0

Dữ liệu từ file RKT:
        Price               Close                High                 Low  \
0      Ticker               RKT.L               RKT.L               RKT.L
1        Date                 NaN                 NaN                 NaN
2  1994-01-03  393.97052001953125  393.97052001953125  393.97052001953125
3  1994-01-04   387.4223327636719   387.4223327636719   387.4223327636719
4  1994-01-05   382.5118713378906   382.5118713378906   382.5118713378906

                 Open Volume
0               RKT.L  RKT.L
1                 NaN    NaN
2  393.97052001953125      0
3   387.4223327636719      0
4   382.5118713378906      0

Dữ liệu từ file SDR:
        Price               Close                High                 Low  \
0      Ticker               SDR.L               SDR.L               SDR.L
1        Date                 NaN                 NaN                 NaN
2  1994-01-03   16.49440574645996   16.49440574645996   16.49440574645996
3  1994-01-04  16.434162139892578  16.434162139892578  16.434162139892578
4  1994-01-05  16.434162139892578  16.434162139892578  16.434162139892578

                 Open Volume
0               SDR.L  SDR.L
1                 NaN    NaN
2   16.49440574645996      0
3  16.434162139892578      0
4  16.434162139892578      0

Dữ liệu từ file SGE:
        Price              Close               High                Low  \
0      Ticker              SGE.L              SGE.L              SGE.L
1        Date                NaN                NaN                NaN
2  1994-01-03  5.431434154510498  5.431434154510499  5.431434154510499
3  1994-01-04  5.420788764953613  5.420788764953613  5.420788764953613
4  1994-01-05  5.442080497741699  5.442080497741699  5.442080497741699

                Open Volume
0              SGE.L  SGE.L
1                NaN    NaN
2  5.431434154510499      0
3  5.420788764953613      0
4  5.442080497741699      0

Dữ liệu từ file SHEL:
        Price               Close                High                 Low  \
0      Ticker              SHEL.L              SHEL.L              SHEL.L
1        Date                 NaN                 NaN                 NaN
2  1996-08-29    1850.44580078125  1860.9653716842681  1840.3677742184295
3  1996-08-30  1820.4554443359375  1834.5828197599196  1817.4562505346503
4  1996-09-02   1843.626220703125  1843.2608686655185  1827.5042722440578

                 Open   Volume
0              SHEL.L   SHEL.L
1                 NaN      NaN
2    1850.44580078125   916368
3  1820.4554443359375  2497648
4  1843.6262207031252   935200

Dữ liệu từ file SSE:
        Price              Close               High                Low  \
0      Ticker              SSE.L              SSE.L              SSE.L
1        Date                NaN                NaN                NaN
2  1994-01-03   88.6064224243164   88.6064224243164   88.6064224243164
3  1994-01-04  88.30876922607422  88.30876922607422  88.30876922607422
4  1994-01-05  89.40021514892578  89.40021514892578  89.40021514892578

                Open Volume
0              SSE.L  SSE.L
1                NaN    NaN
2   88.6064224243164      0
3  88.30876922607422      0
4  89.40021514892578      0

Dữ liệu từ file STAN:
        Price               Close                High                 Low  \
0      Ticker              STAN.L              STAN.L              STAN.L
1        Date                 NaN                 NaN                 NaN
2  1994-01-03  103.71310424804688  103.71310424804688  103.71310424804688
3  1994-01-04  102.46053314208984  102.46053314208984  102.46053314208984
4  1994-01-05  102.37699127197266  102.37699127197266  102.37699127197266

                 Open    Volume
0              STAN.L    STAN.L
1                 NaN       NaN
2  103.71310424804688         0
3  102.46053314208984  17915809
4  102.37699127197266  13624985

Dữ liệu từ file STJ:
        Price              Close               High                Low  \
0      Ticker              STJ.L              STJ.L              STJ.L
1        Date                NaN                NaN                NaN
2  1994-01-03  63.67542266845703  63.67542266845703  63.67542266845703
3  1994-01-04  63.67542266845703  63.67542266845703  63.67542266845703
4  1994-01-05   66.0873794555664   66.0873794555664   66.0873794555664

                Open  Volume
0              STJ.L   STJ.L
1                NaN     NaN
2  63.67542266845703       0
3  63.67542266845703  576000
4   66.0873794555664  676000

Dữ liệu từ file TSCO:
        Price               Close                High                 Low  \
0      Ticker              TSCO.L              TSCO.L              TSCO.L
1        Date                 NaN                 NaN                 NaN
2  1994-01-03  30.904335021972656  30.904335021972656  30.904335021972656
3  1994-01-04   31.26619529724121   31.26619529724121   31.26619529724121
4  1994-01-05   32.13468551635742   32.13468551635742   32.13468551635742

                 Open  Volume
0              TSCO.L  TSCO.L
1                 NaN     NaN
2  30.904335021972656       0
3   31.26619529724121       0
4   32.13468551635742       0

Dữ liệu từ file TSLA:
        Price               Close                High                 Low  \
0      Ticker                TSLA                TSLA                TSLA
1        Date                 NaN                 NaN                 NaN
2  2010-06-29  1.5926669836044312  1.6666669845581055  1.1693329811096191
3  2010-06-30  1.5886670351028442  2.0280001163482666   1.553333044052124
4  2010-07-01  1.4639999866485596  1.7280000448226929  1.3513330221176147

                 Open     Volume
0                TSLA       TSLA
1                 NaN        NaN
2  1.2666670083999634  281494500
3  1.7193330526351929  257806500
4  1.6666669845581055  123282000

Dữ liệu từ file VOD:
        Price              Close               High                Low  \
0      Ticker              VOD.L              VOD.L              VOD.L
1        Date                NaN                NaN                NaN
2  1994-01-03  9.085074424743652  9.085074424743652  9.085074424743652
3  1994-01-04  9.283906936645508  9.283906936645508  9.283906936645508
4  1994-01-05  9.130958557128906  9.130958557128906  9.130958557128906

                Open     Volume
0              VOD.L      VOD.L
1                NaN        NaN
2  9.085074424743652          0
3  9.283906936645508  149083300
4  9.130958557128906  103677283

In [6]:
# check HAL
# os.makedirs(r'../Data_01012020_30122024')

for file, df in dict_df.items():
    print(f"\nDữ liệu từ file {file}:")
    print(df.shape)
    if(df.shape[0] > 1000):

        df = dict_df[file][2:]
        df['Date'] = pd.to_datetime(df['Price'])
        df.drop('Price', axis=1, inplace=True)
        df.set_index('Date', inplace=True)
        df = df['2010-01-01':]
        print(df.shape)
        os.makedirs(r'../Data_FTSE_01012010_30122024', exist_ok=True)
        df.to_csv(rf"../Data_FTSE_01012010_30122024/{file}.csv")
        df
    
    # print(df.iloc[0])
    # print(df.iloc[len(df)-1])

Dữ liệu từ file AHT:
(7931, 6)
(3787, 5)

Dữ liệu từ file BARC:
(7931, 6)
(3787, 5)

Dữ liệu từ file BATS:
(7670, 6)
(3787, 5)

Dữ liệu từ file BP:
(7931, 6)
(3787, 5)

Dữ liệu từ file HIK:
(4845, 6)
(3787, 5)

Dữ liệu từ file HLMA:
(7931, 6)
(3787, 5)

C:\Users\dntth\AppData\Local\Temp\ipykernel_19420\969252829.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Date'] = pd.to_datetime(df['Price'])
C:\Users\dntth\AppData\Local\Temp\ipykernel_19420\969252829.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop('Price', axis=1, inplace=True)
C:\Users\dntth\AppData\Local\Temp\ipykernel_19420\969252829.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Date'] = pd.to_datetime(df['Price'])
C:\Users\dntth\AppData\Local\Temp\ipykernel_19420\969252829.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop('Price', axis=1, inplace=True)
C:\Users\dntth\AppData\Local\Temp\ipykernel_19420\969252829.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Date'] = pd.to_datetime(df['Price'])
C:\Users\dntth\AppData\Local\Temp\ipykernel_19420\969252829.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop('Price', axis=1, inplace=True)
C:\Users\dntth\AppData\Local\Temp\ipykernel_19420\969252829.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Date'] = pd.to_datetime(df['Price'])
C:\Users\dntth\AppData\Local\Temp\ipykernel_19420\969252829.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop('Price', axis=1, inplace=True)
C:\Users\dntth\AppData\Local\Temp\ipykernel_19420\969252829.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Date'] = pd.to_datetime(df['Price'])
C:\Users\dntth\AppData\Local\Temp\ipykernel_19420\969252829.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop('Price', axis=1, inplace=True)
C:\Users\dntth\AppData\Local\Temp\ipykernel_19420\969252829.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Date'] = pd.to_datetime(df['Price'])
C:\Users\dntth\AppData\Local\Temp\ipykernel_19420\969252829.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop('Price', axis=1, inplace=True)

Dữ liệu từ file JMAT:
(7931, 6)
(3787, 5)

Dữ liệu từ file LGEN:
(7931, 6)
(3787, 5)

Dữ liệu từ file PSON:
(7931, 6)
(3787, 5)

Dữ liệu từ file REL:
(7931, 6)
(3787, 5)

Dữ liệu từ file RKT:
(7931, 6)
(3787, 5)

Dữ liệu từ file SDR:
(7931, 6)
(3787, 5)

Dữ liệu từ file SGE:
(7931, 6)

C:\Users\dntth\AppData\Local\Temp\ipykernel_19420\969252829.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Date'] = pd.to_datetime(df['Price'])
C:\Users\dntth\AppData\Local\Temp\ipykernel_19420\969252829.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop('Price', axis=1, inplace=True)
C:\Users\dntth\AppData\Local\Temp\ipykernel_19420\969252829.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Date'] = pd.to_datetime(df['Price'])
C:\Users\dntth\AppData\Local\Temp\ipykernel_19420\969252829.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop('Price', axis=1, inplace=True)
C:\Users\dntth\AppData\Local\Temp\ipykernel_19420\969252829.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Date'] = pd.to_datetime(df['Price'])
C:\Users\dntth\AppData\Local\Temp\ipykernel_19420\969252829.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop('Price', axis=1, inplace=True)
C:\Users\dntth\AppData\Local\Temp\ipykernel_19420\969252829.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Date'] = pd.to_datetime(df['Price'])
C:\Users\dntth\AppData\Local\Temp\ipykernel_19420\969252829.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop('Price', axis=1, inplace=True)
C:\Users\dntth\AppData\Local\Temp\ipykernel_19420\969252829.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Date'] = pd.to_datetime(df['Price'])
C:\Users\dntth\AppData\Local\Temp\ipykernel_19420\969252829.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop('Price', axis=1, inplace=True)
C:\Users\dntth\AppData\Local\Temp\ipykernel_19420\969252829.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Date'] = pd.to_datetime(df['Price'])
C:\Users\dntth\AppData\Local\Temp\ipykernel_19420\969252829.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop('Price', axis=1, inplace=True)
C:\Users\dntth\AppData\Local\Temp\ipykernel_19420\969252829.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Date'] = pd.to_datetime(df['Price'])
C:\Users\dntth\AppData\Local\Temp\ipykernel_19420\969252829.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop('Price', axis=1, inplace=True)

(3787, 5)

Dữ liệu từ file SHEL:
(7238, 6)
(3787, 5)

Dữ liệu từ file SSE:
(7931, 6)
(3787, 5)

Dữ liệu từ file STAN:
(7931, 6)
(3787, 5)

Dữ liệu từ file STJ:
(7931, 6)
(3787, 5)

Dữ liệu từ file TSCO:
(7931, 6)
(3787, 5)

C:\Users\dntth\AppData\Local\Temp\ipykernel_19420\969252829.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Date'] = pd.to_datetime(df['Price'])
C:\Users\dntth\AppData\Local\Temp\ipykernel_19420\969252829.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop('Price', axis=1, inplace=True)
C:\Users\dntth\AppData\Local\Temp\ipykernel_19420\969252829.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Date'] = pd.to_datetime(df['Price'])
C:\Users\dntth\AppData\Local\Temp\ipykernel_19420\969252829.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop('Price', axis=1, inplace=True)
C:\Users\dntth\AppData\Local\Temp\ipykernel_19420\969252829.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Date'] = pd.to_datetime(df['Price'])
C:\Users\dntth\AppData\Local\Temp\ipykernel_19420\969252829.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop('Price', axis=1, inplace=True)
C:\Users\dntth\AppData\Local\Temp\ipykernel_19420\969252829.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Date'] = pd.to_datetime(df['Price'])
C:\Users\dntth\AppData\Local\Temp\ipykernel_19420\969252829.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop('Price', axis=1, inplace=True)
C:\Users\dntth\AppData\Local\Temp\ipykernel_19420\969252829.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Date'] = pd.to_datetime(df['Price'])
C:\Users\dntth\AppData\Local\Temp\ipykernel_19420\969252829.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop('Price', axis=1, inplace=True)

Dữ liệu từ file TSLA:
(3653, 6)
(3651, 5)

Dữ liệu từ file VOD:
(7931, 6)
(3787, 5)

C:\Users\dntth\AppData\Local\Temp\ipykernel_19420\969252829.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Date'] = pd.to_datetime(df['Price'])
C:\Users\dntth\AppData\Local\Temp\ipykernel_19420\969252829.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop('Price', axis=1, inplace=True)
C:\Users\dntth\AppData\Local\Temp\ipykernel_19420\969252829.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Date'] = pd.to_datetime(df['Price'])
C:\Users\dntth\AppData\Local\Temp\ipykernel_19420\969252829.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop('Price', axis=1, inplace=True)

In [ ]:
dict_df['VOD']

,Price,Close,High,Low,Open,Volume
0,Ticker,VOD.L,VOD.L,VOD.L,VOD.L,VOD.L
1,Date,NaN,NaN,NaN,NaN,NaN
2,1994-01-03,9.085074424743652,9.085074424743652,9.085074424743652,9.085074424743652,0
3,1994-01-04,9.283906936645508,9.283906936645508,9.283906936645508,9.283906936645508,149083300
4,1994-01-05,9.130958557128906,9.130958557128906,9.130958557128906,9.130958557128906,103677283
...,...,...,...,...,...,...
7926,2024-12-20,66.5,66.94000244140625,66.12000274658203,66.83999633789062,153387989
7927,2024-12-23,66.4800033569336,66.91999816894531,66.27999877929688,66.91999816894531,63293094
7928,2024-12-24,67.76000213623047,67.94000244140625,66.62000274658203,66.80000305175781,27798312
7929,2024-12-27,67.33999633789062,67.95999908447266,66.80000305175781,67.5199966430664,60270857
7930,2024-12-30,67.22000122070312,67.5,66.91999816894531,67.30000305175781,40884277

In [ ]:
df = dict_df['VOD'][['Price', 'Close']]
df[2:]

           Price              Close
2     1994-01-03  9.085074424743652
3     1994-01-04  9.283906936645508
4     1994-01-05  9.130958557128906
5     1994-01-06  9.169191360473633
6     1994-01-07  9.390973091125488
...          ...                ...
7926  2024-12-20               66.5
7927  2024-12-23   66.4800033569336
7928  2024-12-24  67.76000213623047
7929  2024-12-27  67.33999633789062
7930  2024-12-30  67.22000122070312

[7929 rows x 2 columns]

## Xử lý từng data

In [ ]:
def convert_per(df, name_col):
        # Giả sử cột % Thay đổi là một chuỗi object, cần xử lý
    df[name_col] = (
        df[name_col]
        .str.replace('%', '')   # Loại bỏ ký hiệu %
        .str.replace(',', '')   # Loại bỏ dấu phẩy (nếu có)
        .astype(float) / 100    # Chuyển thành float và chia 100 để về dạng thập phân
    )
    return df[name_col]

In [ ]:
# Tạo khoảng thời gian từ 1/1/2020 đến 10/10/2024
date_range = pd.date_range(start='2022-01-01', end='2024-10-10', freq='D')

# Tạo DataFrame với các cột yêu cầu
columns = ['Date']
df = pd.DataFrame(columns=columns)

# Gán cột 'Date' với khoảng thời gian
df['Date'] = date_range

# Đặt cột 'Date' làm index
df.set_index('Date', inplace=True)

# Xem DataFrame
print(df)

Empty DataFrame
Columns: []
Index: [2022-01-01 00:00:00, 2022-01-02 00:00:00, 2022-01-03 00:00:00, 2022-01-04 00:00:00, 2022-01-05 00:00:00, 2022-01-06 00:00:00, 2022-01-07 00:00:00, 2022-01-08 00:00:00, 2022-01-09 00:00:00, 2022-01-10 00:00:00, 2022-01-11 00:00:00, 2022-01-12 00:00:00, 2022-01-13 00:00:00, 2022-01-14 00:00:00, 2022-01-15 00:00:00, 2022-01-16 00:00:00, 2022-01-17 00:00:00, 2022-01-18 00:00:00, 2022-01-19 00:00:00, 2022-01-20 00:00:00, 2022-01-21 00:00:00, 2022-01-22 00:00:00, 2022-01-23 00:00:00, 2022-01-24 00:00:00, 2022-01-25 00:00:00, 2022-01-26 00:00:00, 2022-01-27 00:00:00, 2022-01-28 00:00:00, 2022-01-29 00:00:00, 2022-01-30 00:00:00, 2022-01-31 00:00:00, 2022-02-01 00:00:00, 2022-02-02 00:00:00, 2022-02-03 00:00:00, 2022-02-04 00:00:00, 2022-02-05 00:00:00, 2022-02-06 00:00:00, 2022-02-07 00:00:00, 2022-02-08 00:00:00, 2022-02-09 00:00:00, 2022-02-10 00:00:00, 2022-02-11 00:00:00, 2022-02-12 00:00:00, 2022-02-13 00:00:00, 2022-02-14 00:00:00, 2022-02-15 00:00:00, 2022-02-16 00:00:00, 2022-02-17 00:00:00, 2022-02-18 00:00:00, 2022-02-19 00:00:00, 2022-02-20 00:00:00, 2022-02-21 00:00:00, 2022-02-22 00:00:00, 2022-02-23 00:00:00, 2022-02-24 00:00:00, 2022-02-25 00:00:00, 2022-02-26 00:00:00, 2022-02-27 00:00:00, 2022-02-28 00:00:00, 2022-03-01 00:00:00, 2022-03-02 00:00:00, 2022-03-03 00:00:00, 2022-03-04 00:00:00, 2022-03-05 00:00:00, 2022-03-06 00:00:00, 2022-03-07 00:00:00, 2022-03-08 00:00:00, 2022-03-09 00:00:00, 2022-03-10 00:00:00, 2022-03-11 00:00:00, 2022-03-12 00:00:00, 2022-03-13 00:00:00, 2022-03-14 00:00:00, 2022-03-15 00:00:00, 2022-03-16 00:00:00, 2022-03-17 00:00:00, 2022-03-18 00:00:00, 2022-03-19 00:00:00, 2022-03-20 00:00:00, 2022-03-21 00:00:00, 2022-03-22 00:00:00, 2022-03-23 00:00:00, 2022-03-24 00:00:00, 2022-03-25 00:00:00, 2022-03-26 00:00:00, 2022-03-27 00:00:00, 2022-03-28 00:00:00, 2022-03-29 00:00:00, 2022-03-30 00:00:00, 2022-03-31 00:00:00, 2022-04-01 00:00:00, 2022-04-02 00:00:00, 2022-04-03 00:00:00, 2022-04-04 00:00:00, 2022-04-05 00:00:00, 2022-04-06 00:00:00, 2022-04-07 00:00:00, 2022-04-08 00:00:00, 2022-04-09 00:00:00, 2022-04-10 00:00:00, ...]

[1014 rows x 0 columns]

In [ ]:
# Hàm nhập dữ liệu vào df
def enter_col(df, col, data):
    if(col not in df.columns):
        df[col] = np.nan
    # print(df.columns)
    for date in data.index: 
        if date in df.index:
            value = str(data[date]).replace(',', '').replace('%', '').strip()
            # print(value)
            df.at[date, col] = float(value)
    print(df.isna().sum())
    return df

### SP_500

In [ ]:
dict_df['data_SP_500']['Ngày'] = [pd.to_datetime(date , format='%d/%m/%Y').strftime('%Y-%m-%d') for date in dict_df['data_SP_500']['Ngày']]
dict_df['data_SP_500'].set_index('Ngày',inplace=True)
dict_df['data_SP_500']

In [ ]:

df = enter_col(df, 'SP_500', dict_df['data_SP_500']['Lần cuối'])
df

SP_500    317
dtype: int64

             SP_500
Date
2022-01-01      NaN
2022-01-02      NaN
2022-01-03  4796.60
2022-01-04  4793.50
2022-01-05  4700.60
...             ...
2024-10-06      NaN
2024-10-07  5695.94
2024-10-08  5751.13
2024-10-09  5792.04
2024-10-10  5780.05

[1014 rows x 1 columns]

In [ ]:
df.isna().sum()

SP_500    317
dtype: int64