In [421]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os

In [422]:
folder_path = ".\Data_finan"

dict_df = {}
for filename in os.listdir(folder_path):
    file_path = os.path.join(folder_path, filename)
    print(file_path)
    if filename.endswith(".xlsx"):
        dict_df[filename.split('.')[0]] = pd.read_excel(file_path)

    if filename.endswith(".csv"):
        dict_df[filename.split('.')[0]] = pd.read_csv(file_path)

print(f"Đã đọc các file: {list(dict_df.keys())}")

for file, df in dict_df.items():
    print(f"\nDữ liệu từ file {file}:")
    print(df.head())

.\Data_finan\data_inflation_VN.xlsx
.\Data_finan\data_SP_500.csv
.\Data_finan\data_stock
.\Data_finan\data_USD_VND.csv
.\Data_finan\data_VN 30.csv
.\Data_finan\data_VN_Index.csv
.\Data_finan\data_XAU_USD.csv
Đã đọc các file: ['data_inflation_VN', 'data_SP_500', 'data_USD_VND', 'data_VN 30', 'data_VN_Index', 'data_XAU_USD']

Dữ liệu từ file data_inflation_VN:
          Ngày Phát Hành Thời gian  Thực tế  Dự báo  Trước đó
0  06/12/2024 (Tháng 11)  02:00:00   0.0013     NaN    0.0033
1  06/11/2024 (Tháng 10)  02:00:00   0.0033     NaN    0.0029
2   06/10/2024 (Tháng 9)  02:00:00   0.0029     NaN    0.0000
3   06/09/2024 (Tháng 8)  02:00:00   0.0000     NaN    0.0048
4   29/07/2024 (Tháng 7)  02:00:00   0.0048     NaN    0.0017

Dữ liệu từ file data_SP_500:
         Ngày  Lần cuối        Mở       Cao      Thấp     KL % Thay đổi
0  09/12/2024  6,052.85  6,083.01  6,088.51  6,048.63  0.00K     -0.61%
1  06/12/2024  6,090.27  6,081.38  6,099.97  6,079.98  0.00K      0.25%
2  05/12/2024  6,075.11  6,089.03  6,094.55  6,072.90  0.00K     -0.19%
3  04/12/2024  6,086.49  6,069.39  6,089.84  6,061.06  0.00K      0.61%
4  03/12/2024  6,049.88  6,042.97  6,052.07  6,033.39  0.00K      0.05%

Dữ liệu từ file data_USD_VND:
         Ngày  Lần cuối        Mở       Cao      Thấp   KL % Thay đổi
0  03/12/2024  25,403.0  25,400.0  25,405.0  25,346.5  NaN      0.11%
1  02/12/2024  25,374.0  25,355.0  25,385.0  25,335.0  NaN      0.12%
2  29/11/2024  25,344.0  25,335.0  25,400.0  25,335.0  NaN     -0.06%
3  28/11/2024  25,358.0  25,345.0  25,400.0  25,320.0  NaN     -0.07%
4  27/11/2024  25,375.0  25,395.0  25,410.0  25,375.0  NaN     -0.12%

Dữ liệu từ file data_VN 30:
         Ngày  Lần cuối        Mở       Cao      Thấp       KL % Thay đổi
0  03/12/2024  1,308.11  1,308.40  1,310.08  1,300.67   69.79K     -0.06%
1  02/12/2024  1,308.83  1,315.77  1,317.76  1,303.51  120.80M     -0.19%
2  29/11/2024  1,311.26  1,301.34  1,311.67  1,298.64  136.47M      0.75%
3  28/11/2024  1,301.52  1,305.79  1,310.41  1,298.43  145.66M      0.04%
4  27/11/2024  1,301.06  1,297.28  1,303.99  1,296.94  113.49M      0.14%

Dữ liệu từ file data_VN_Index:
         ngay  lan cuoi        mo       cao      thap       KL thay_doi
0   3/12/2024  1,249.66  1,251.21  1,251.94  1,244.91  266.65K   -0.12%
1   2/12/2024  1,251.21  1,250.46  1,258.05  1,247.74  497.42M    0.06%
2  29/11/2024  1,250.46  1,242.51  1,250.92  1,241.00  502.81M    0.67%
3  28/11/2024  1,242.11  1,246.37  1,250.46  1,240.91  477.49M    0.01%
4  27/11/2024  1,241.97  1,242.13  1,245.34  1,239.23  428.81M   -0.01%

Dữ liệu từ file data_XAU_USD:
         Ngày  Lần cuối        Mở       Cao      Thấp  KL % Thay đổi
0  03/12/2024  2,640.45  2,642.35  2,645.23  2,634.27 NaN      0.06%
1  02/12/2024  2,638.93  2,653.82  2,656.21  2,621.90 NaN     -0.55%
2  29/11/2024  2,653.55  2,641.20  2,666.35  2,634.12 NaN      0.48%
3  28/11/2024  2,640.96  2,635.74  2,650.12  2,620.94 NaN      0.21%
4  27/11/2024  2,635.51  2,632.16  2,658.40  2,627.06 NaN      0.14%

In [423]:
for file, df in dict_df.items():
    print(f"\nDữ liệu từ file {file}:")
    print(df.shape)
    print(df.iloc[0])
    print(df.iloc[len(df)-1])

Dữ liệu từ file data_inflation_VN:
(36, 5)
Ngày Phát Hành    06/12/2024 (Tháng 11)
Thời gian                      02:00:00
Thực tế                          0.0013
Dự báo                              NaN
Trước đó                         0.0033
Name: 0, dtype: object
Ngày Phát Hành    29/11/2021
Thời gian           02:00:00
Thực tế               0.0032
Dự báo                   NaN
Trước đó              -0.002
Name: 35, dtype: object

Dữ liệu từ file data_SP_500:
(738, 7)
Ngày          09/12/2024
Lần cuối        6,052.85
Mở              6,083.01
Cao             6,088.51
Thấp            6,048.63
KL                 0.00K
% Thay đổi        -0.61%
Name: 0, dtype: object
Ngày          03/01/2022
Lần cuối        4,796.60
Mở              4,778.10
Cao             4,796.60
Thấp            4,758.20
KL                   NaN
% Thay đổi         0.64%
Name: 737, dtype: object

Dữ liệu từ file data_USD_VND:
(730, 7)
Ngày          03/12/2024
Lần cuối        25,403.0
Mở              25,400.0
Cao             25,405.0
Thấp            25,346.5
KL                   NaN
% Thay đổi         0.11%
Name: 0, dtype: object
Ngày          04/01/2022
Lần cuối        22,752.0
Mở              22,770.0
Cao             22,782.5
Thấp            22,750.0
KL                 0.02K
% Thay đổi        -0.32%
Name: 729, dtype: object

Dữ liệu từ file data_VN 30:
(728, 7)
Ngày          03/12/2024
Lần cuối        1,308.11
Mở              1,308.40
Cao             1,310.08
Thấp            1,300.67
KL                69.79K
% Thay đổi        -0.06%
Name: 0, dtype: object
Ngày          04/01/2022
Lần cuối        1,558.87
Mở              1,536.45
Cao             1,562.54
Thấp            1,536.45
KL               207.49K
% Thay đổi         1.51%
Name: 727, dtype: object

Dữ liệu từ file data_VN_Index:
(728, 7)
ngay        3/12/2024
lan cuoi     1,249.66
mo           1,251.21
cao          1,251.94
thap         1,244.91
KL            266.65K
thay_doi       -0.12%
Name: 0, dtype: object
ngay        4/1/2022
lan cuoi    1,525.58
mo          1,508.55
cao         1,526.69
thap        1,507.19
KL           891.30K
thay_doi       1.82%
Name: 727, dtype: object

Dữ liệu từ file data_XAU_USD:
(760, 7)
Ngày          03/12/2024
Lần cuối        2,640.45
Mở              2,642.35
Cao             2,645.23
Thấp            2,634.27
KL                   NaN
% Thay đổi         0.06%
Name: 0, dtype: object
Ngày          03/01/2022
Lần cuối        1,800.85
Mở              1,830.14
Cao             1,832.06
Thấp            1,797.93
KL                   NaN
% Thay đổi        -1.51%
Name: 759, dtype: object

## Xử lý từng data

In [424]:
def convert_per(df, name_col):
        # Giả sử cột % Thay đổi là một chuỗi object, cần xử lý
    df[name_col] = (
        df[name_col]
        .str.replace('%', '')   # Loại bỏ ký hiệu %
        .str.replace(',', '')   # Loại bỏ dấu phẩy (nếu có)
        .astype(float) / 100    # Chuyển thành float và chia 100 để về dạng thập phân
    )
    return df[name_col]

In [425]:
# Tạo khoảng thời gian từ 1/1/2020 đến 10/10/2024
date_range = pd.date_range(start='2022-01-01', end='2024-10-10', freq='D')

# Tạo DataFrame với các cột yêu cầu
columns = ['Date']
df = pd.DataFrame(columns=columns)

# Gán cột 'Date' với khoảng thời gian
df['Date'] = date_range

# Đặt cột 'Date' làm index
df.set_index('Date', inplace=True)

# Xem DataFrame
print(df)

Empty DataFrame
Columns: []
Index: [2022-01-01 00:00:00, 2022-01-02 00:00:00, 2022-01-03 00:00:00, 2022-01-04 00:00:00, 2022-01-05 00:00:00, 2022-01-06 00:00:00, 2022-01-07 00:00:00, 2022-01-08 00:00:00, 2022-01-09 00:00:00, 2022-01-10 00:00:00, 2022-01-11 00:00:00, 2022-01-12 00:00:00, 2022-01-13 00:00:00, 2022-01-14 00:00:00, 2022-01-15 00:00:00, 2022-01-16 00:00:00, 2022-01-17 00:00:00, 2022-01-18 00:00:00, 2022-01-19 00:00:00, 2022-01-20 00:00:00, 2022-01-21 00:00:00, 2022-01-22 00:00:00, 2022-01-23 00:00:00, 2022-01-24 00:00:00, 2022-01-25 00:00:00, 2022-01-26 00:00:00, 2022-01-27 00:00:00, 2022-01-28 00:00:00, 2022-01-29 00:00:00, 2022-01-30 00:00:00, 2022-01-31 00:00:00, 2022-02-01 00:00:00, 2022-02-02 00:00:00, 2022-02-03 00:00:00, 2022-02-04 00:00:00, 2022-02-05 00:00:00, 2022-02-06 00:00:00, 2022-02-07 00:00:00, 2022-02-08 00:00:00, 2022-02-09 00:00:00, 2022-02-10 00:00:00, 2022-02-11 00:00:00, 2022-02-12 00:00:00, 2022-02-13 00:00:00, 2022-02-14 00:00:00, 2022-02-15 00:00:00, 2022-02-16 00:00:00, 2022-02-17 00:00:00, 2022-02-18 00:00:00, 2022-02-19 00:00:00, 2022-02-20 00:00:00, 2022-02-21 00:00:00, 2022-02-22 00:00:00, 2022-02-23 00:00:00, 2022-02-24 00:00:00, 2022-02-25 00:00:00, 2022-02-26 00:00:00, 2022-02-27 00:00:00, 2022-02-28 00:00:00, 2022-03-01 00:00:00, 2022-03-02 00:00:00, 2022-03-03 00:00:00, 2022-03-04 00:00:00, 2022-03-05 00:00:00, 2022-03-06 00:00:00, 2022-03-07 00:00:00, 2022-03-08 00:00:00, 2022-03-09 00:00:00, 2022-03-10 00:00:00, 2022-03-11 00:00:00, 2022-03-12 00:00:00, 2022-03-13 00:00:00, 2022-03-14 00:00:00, 2022-03-15 00:00:00, 2022-03-16 00:00:00, 2022-03-17 00:00:00, 2022-03-18 00:00:00, 2022-03-19 00:00:00, 2022-03-20 00:00:00, 2022-03-21 00:00:00, 2022-03-22 00:00:00, 2022-03-23 00:00:00, 2022-03-24 00:00:00, 2022-03-25 00:00:00, 2022-03-26 00:00:00, 2022-03-27 00:00:00, 2022-03-28 00:00:00, 2022-03-29 00:00:00, 2022-03-30 00:00:00, 2022-03-31 00:00:00, 2022-04-01 00:00:00, 2022-04-02 00:00:00, 2022-04-03 00:00:00, 2022-04-04 00:00:00, 2022-04-05 00:00:00, 2022-04-06 00:00:00, 2022-04-07 00:00:00, 2022-04-08 00:00:00, 2022-04-09 00:00:00, 2022-04-10 00:00:00, ...]

[1014 rows x 0 columns]

In [426]:
# Hàm nhập dữ liệu vào df
def enter_col(df, col, data):
    if(col not in df.columns):
        df[col] = np.nan
        
    for date in data.index: 
        if date in df.index:
            value = str(data[date]).replace(',', '').replace('%', '').strip()

            df.at[date, col] = float(value)
    return df

### SP_500

In [427]:
dict_df['data_SP_500'].set_index('Ngày',inplace=True)
dict_df['data_SP_500']

            Lần cuối        Mở       Cao      Thấp     KL % Thay đổi
Ngày
09/12/2024  6,052.85  6,083.01  6,088.51  6,048.63  0.00K     -0.61%
06/12/2024  6,090.27  6,081.38  6,099.97  6,079.98  0.00K      0.25%
05/12/2024  6,075.11  6,089.03  6,094.55  6,072.90  0.00K     -0.19%
04/12/2024  6,086.49  6,069.39  6,089.84  6,061.06  0.00K      0.61%
03/12/2024  6,049.88  6,042.97  6,052.07  6,033.39  0.00K      0.05%
...              ...       ...       ...       ...    ...        ...
07/01/2022  4,677.00  4,697.70  4,707.90  4,662.70    NaN     -0.41%
06/01/2022  4,696.10  4,693.40  4,725.00  4,671.30    NaN     -0.10%
05/01/2022  4,700.60  4,788.00  4,797.70  4,699.40    NaN     -1.94%
04/01/2022  4,793.50  4,804.50  4,818.60  4,774.30    NaN     -0.06%
03/01/2022  4,796.60  4,778.10  4,796.60  4,758.20    NaN      0.64%

[738 rows x 6 columns]

In [428]:
# df['SP_500'] = dict_df['data_SP_500']['Lần cuối']
# df['SP_500_volum'] = dict_df['data_SP_500']['Lần cuối']
# df.sort_index()
df = enter_col(df, 'SP_500', dict_df['data_SP_500']['Lần cuối'])
df

             SP_500
Date
2022-01-01      NaN
2022-01-02  4546.50
2022-01-03  4306.26
2022-01-04  4545.86
2022-01-05      NaN
...             ...
2024-10-06  5360.79
2024-10-07  5633.91
2024-10-08      NaN
2024-10-09  5495.52
2024-10-10  5780.05

[1014 rows x 1 columns]

In [429]:
df.isna().sum()

SP_500    319
dtype: int64

### VN_30

In [430]:
dict_df['data_VN 30'].set_index('Ngày',inplace=True)
dict_df['data_VN 30']

            Lần cuối        Mở       Cao      Thấp       KL % Thay đổi
Ngày
03/12/2024  1,308.11  1,308.40  1,310.08  1,300.67   69.79K     -0.06%
02/12/2024  1,308.83  1,315.77  1,317.76  1,303.51  120.80M     -0.19%
29/11/2024  1,311.26  1,301.34  1,311.67  1,298.64  136.47M      0.75%
28/11/2024  1,301.52  1,305.79  1,310.41  1,298.43  145.66M      0.04%
27/11/2024  1,301.06  1,297.28  1,303.99  1,296.94  113.49M      0.14%
...              ...       ...       ...       ...      ...        ...
10/01/2022  1,514.70  1,531.13  1,537.71  1,514.70  200.03K     -1.14%
07/01/2022  1,532.24  1,548.77  1,550.47  1,532.24  200.63K     -0.82%
06/01/2022  1,544.95  1,542.34  1,554.97  1,541.19  231.96K     -0.07%
05/01/2022  1,546.01  1,559.33  1,562.93  1,546.01  222.22K     -0.82%
04/01/2022  1,558.87  1,536.45  1,562.54  1,536.45  207.49K      1.51%

[728 rows x 6 columns]

In [431]:
df = enter_col(df, 'VN_30', dict_df['data_VN 30']['Lần cuối'])
df

             SP_500    VN_30
Date
2022-01-01      NaN      NaN
2022-01-02  4546.50      NaN
2022-01-03  4306.26  1520.12
2022-01-04  4545.86  1542.47
2022-01-05      NaN      NaN
...             ...      ...
2024-10-06  5360.79  1311.10
2024-10-07  5633.91  1310.91
2024-10-08      NaN      NaN
2024-10-09  5495.52  1294.06
2024-10-10  5780.05  1360.58

[1014 rows x 2 columns]

### VN index

In [432]:
dict_df['data_VN_Index'].set_index('ngay',inplace=True)
dict_df['data_VN_Index']

            lan cuoi        mo       cao      thap       KL thay_doi
ngay
3/12/2024   1,249.66  1,251.21  1,251.94  1,244.91  266.65K   -0.12%
2/12/2024   1,251.21  1,250.46  1,258.05  1,247.74  497.42M    0.06%
29/11/2024  1,250.46  1,242.51  1,250.92  1,241.00  502.81M    0.67%
28/11/2024  1,242.11  1,246.37  1,250.46  1,240.91  477.49M    0.01%
27/11/2024  1,241.97  1,242.13  1,245.34  1,239.23  428.81M   -0.01%
...              ...       ...       ...       ...      ...      ...
10/1/2022   1,503.71  1,528.48  1,536.45  1,503.71    1.38M   -1.62%
7/1/2022    1,528.48  1,534.10  1,534.52  1,524.96    1.03M   -0.01%
6/1/2022    1,528.57  1,522.50  1,536.24  1,518.18    1.13M    0.40%
5/1/2022    1,522.50  1,525.58  1,535.82  1,522.50    1.06M   -0.20%
4/1/2022    1,525.58  1,508.55  1,526.69  1,507.19  891.30K    1.82%

[728 rows x 6 columns]

In [433]:
df = enter_col(df, 'VN_Index', dict_df['data_VN_Index']['lan cuoi'])
df = enter_col(df, 'VN_Index_volum', dict_df['data_VN_Index']['thay_doi'])
df

             SP_500    VN_30  VN_Index  VN_Index_volum
Date
2022-01-01      NaN      NaN       NaN             NaN
2022-01-02  4546.50      NaN       NaN             NaN
2022-01-03  4306.26  1520.12   1498.78            0.58
2022-01-04  4545.86  1542.47   1516.44            1.63
2022-01-05      NaN      NaN       NaN             NaN
...             ...      ...       ...             ...
2024-10-06  5360.79  1311.10   1290.67            0.24
2024-10-07  5633.91  1310.91   1285.94           -0.60
2024-10-08      NaN      NaN       NaN             NaN
2024-10-09  5495.52  1294.06   1255.23           -0.99
2024-10-10  5780.05  1360.58   1286.36            0.35

[1014 rows x 4 columns]

### XAU_USD

In [434]:
dict_df['data_XAU_USD'].set_index('Ngày',inplace=True)
dict_df['data_XAU_USD']

            Lần cuối        Mở       Cao      Thấp  KL % Thay đổi
Ngày
03/12/2024  2,640.45  2,642.35  2,645.23  2,634.27 NaN      0.06%
02/12/2024  2,638.93  2,653.82  2,656.21  2,621.90 NaN     -0.55%
29/11/2024  2,653.55  2,641.20  2,666.35  2,634.12 NaN      0.48%
28/11/2024  2,640.96  2,635.74  2,650.12  2,620.94 NaN      0.21%
27/11/2024  2,635.51  2,632.16  2,658.40  2,627.06 NaN      0.14%
...              ...       ...       ...       ...  ..        ...
07/01/2022  1,795.63  1,789.55  1,799.20  1,782.63 NaN      0.39%
06/01/2022  1,788.68  1,809.94  1,811.89  1,786.03 NaN     -1.15%
05/01/2022  1,809.53  1,814.90  1,829.82  1,807.97 NaN     -0.28%
04/01/2022  1,814.56  1,801.34  1,816.83  1,798.44 NaN      0.76%
03/01/2022  1,800.85  1,830.14  1,832.06  1,797.93 NaN     -1.51%

[760 rows x 6 columns]

In [435]:
df = enter_col(df, 'XAU_USD', dict_df['data_XAU_USD']['Lần cuối'])
df = enter_col(df, 'XAU_USD_volum', dict_df['data_XAU_USD']['% Thay đổi'])
df

             SP_500    VN_30  VN_Index  VN_Index_volum  XAU_USD  XAU_USD_volum
Date
2022-01-01      NaN      NaN       NaN             NaN      NaN            NaN
2022-01-02  4546.50      NaN       NaN             NaN  1800.65           0.23
2022-01-03  4306.26  1520.12   1498.78            0.58  1943.22           1.85
2022-01-04  4545.86  1542.47   1516.44            1.63  1924.30          -0.67
2022-01-05      NaN      NaN       NaN             NaN      NaN            NaN
...             ...      ...       ...             ...      ...            ...
2024-10-06  5360.79  1311.10   1290.67            0.24  2310.60           0.78
2024-10-07  5633.91  1310.91   1285.94           -0.60  2371.07           0.32
2024-10-08      NaN      NaN       NaN             NaN      NaN            NaN
2024-10-09  5495.52  1294.06   1255.23           -0.99  2516.12           0.43
2024-10-10  5780.05  1360.58   1286.36            0.35  2629.48           0.83

[1014 rows x 6 columns]

### inflation_VN

In [436]:
for date in dict_df['data_inflation_VN']['Ngày Phát Hành']:
    dict_df['data_inflation_VN']['Ngày Phát Hành'] = date.split('(')[0]
dict_df['data_inflation_VN'].set_index('Ngày Phát Hành',inplace=True)
dict_df['data_inflation_VN']

               Thời gian  Thực tế  Dự báo  Trước đó
Ngày Phát Hành
29/11/2021      02:00:00   0.0013     NaN    0.0033
29/11/2021      02:00:00   0.0033     NaN    0.0029
29/11/2021      02:00:00   0.0029     NaN    0.0000
29/11/2021      02:00:00   0.0000     NaN    0.0048
29/11/2021      02:00:00   0.0048     NaN    0.0017
29/11/2021      02:00:00   0.0017     NaN    0.0005
29/11/2021      02:00:00   0.0005     NaN    0.0007
29/11/2021      02:00:00   0.0007     NaN   -0.0023
29/11/2021      02:00:00  -0.0023     NaN    0.0104
29/11/2021      02:00:00   0.0104     NaN    0.0031
29/11/2021      02:00:00   0.0031     NaN    0.0012
29/11/2021      02:00:00   0.0012     NaN    0.0025
29/11/2021      02:00:00   0.0025     NaN    0.0008
29/11/2021      02:00:00   0.0008     NaN    0.0108
29/11/2021      02:00:00   0.0108     NaN    0.0088
29/11/2021      02:00:00   0.0088     NaN    0.0045
29/11/2021      02:00:00   0.0045     NaN    0.0027
29/11/2021      02:00:00   0.0027     NaN    0.0001
29/11/2021      02:00:00   0.0001     NaN   -0.0034
29/11/2021      02:00:00  -0.0034     NaN   -0.0023
29/11/2021      02:00:00  -0.0023     NaN    0.0045
29/11/2021      02:00:00   0.0045     NaN    0.0052
29/11/2021      02:00:00   0.0052     NaN    0.0039
29/11/2021      02:00:00   0.0039     NaN    0.0015
29/11/2021      02:00:00   0.0015     NaN    0.0040
29/11/2021      02:30:00   0.0040     NaN    0.0005
29/11/2021      02:00:00   0.0005     NaN    0.0040
29/11/2021      02:00:00   0.0040     NaN    0.0069
29/11/2021      02:00:00   0.0069     NaN    0.0038
29/11/2021      02:00:00   0.0038     NaN    0.0018
29/11/2021      02:00:00   0.0018     NaN    0.0070
29/11/2021      02:00:00   0.0070     NaN    0.0100
29/11/2021      02:00:00   0.0100     NaN    0.0019
29/11/2021      02:00:00   0.0019     NaN   -0.0018
29/11/2021      02:00:00  -0.0018     NaN    0.0032
29/11/2021      02:00:00   0.0032     NaN   -0.0020

In [437]:
# enter_col(df, 'inflation_VN', dict_df['data_inflation_VN']['Thực tế'])
# df

### USD_VND

In [438]:
dict_df['data_USD_VND'].set_index('Ngày',inplace=True)
dict_df['data_USD_VND']

            Lần cuối        Mở       Cao      Thấp     KL % Thay đổi
Ngày
03/12/2024  25,403.0  25,400.0  25,405.0  25,346.5    NaN      0.11%
02/12/2024  25,374.0  25,355.0  25,385.0  25,335.0    NaN      0.12%
29/11/2024  25,344.0  25,335.0  25,400.0  25,335.0    NaN     -0.06%
28/11/2024  25,358.0  25,345.0  25,400.0  25,320.0    NaN     -0.07%
27/11/2024  25,375.0  25,395.0  25,410.0  25,375.0    NaN     -0.12%
...              ...       ...       ...       ...    ...        ...
10/01/2022  22,695.0  22,752.5  22,760.0  22,675.0  0.03K      0.04%
07/01/2022  22,685.0  22,745.0  22,751.5  22,685.0  0.02K     -0.26%
06/01/2022  22,745.0  22,757.5  22,811.0  22,747.5  0.02K     -0.04%
05/01/2022  22,755.0  22,750.0  22,770.0  22,735.0  0.02K      0.01%
04/01/2022  22,752.0  22,770.0  22,782.5  22,750.0  0.02K     -0.32%

[730 rows x 6 columns]

In [439]:
df = enter_col(df, 'USD_VND', dict_df['data_USD_VND']['Lần cuối'])
df = enter_col(df, 'USD_VND_volum', dict_df['data_USD_VND']['% Thay đổi'])
df

,SP_500,VN_30,VN_Index,VN_Index_volum,XAU_USD,XAU_USD_volum,USD_VND,USD_VND_volum
Date,,,,,,,,
2022-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-01-02,4546.50,NaN,NaN,NaN,1800.65,0.23,NaN,NaN
2022-01-03,4306.26,1520.12,1498.78,0.58,1943.22,1.85,22815.0,0.04
2022-01-04,4545.86,1542.47,1516.44,1.63,1924.30,-0.67,22837.0,0.00
2022-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
2024-10-06,5360.79,1311.10,1290.67,0.24,2310.60,0.78,25415.0,0.06
2024-10-07,5633.91,1310.91,1285.94,-0.60,2371.07,0.32,25415.0,0.01
2024-10-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-10-09,5495.52,1294.06,1255.23,-0.99,2516.12,0.43,24660.0,-0.08
2024-10-10,5780.05,1360.58,1286.36,0.35,2629.48,0.83,24830.0,0.00

In [440]:

# def fill_missing_values(df):
#     for col in df.columns:
#         # Interpolate missing values
#         df[col] = df[col].interpolate()
#     return df

# # Fill missing values in df
# df = fill_missing_values(df)
df.interpolate(method ='linear', limit_direction ='forward', inplace=True) 
df = df.dropna()
df

,SP_500,VN_30,VN_Index,VN_Index_volum,XAU_USD,XAU_USD_volum,USD_VND,USD_VND_volum
Date,,,,,,,,
2022-01-03,4306.260,1520.120,1498.780,0.580,1943.220,1.850,22815.0,0.040
2022-01-04,4545.860,1542.470,1516.440,1.630,1924.300,-0.670,22837.0,0.000
2022-01-05,4323.545,1438.980,1407.980,1.080,1884.925,-0.105,23016.5,0.025
2022-01-06,4101.230,1335.490,1299.520,0.530,1845.550,0.460,23196.0,0.050
2022-01-07,3825.330,1252.240,1198.900,0.110,1810.180,0.180,23300.0,0.190
...,...,...,...,...,...,...,...,...
2024-10-06,5360.790,1311.100,1290.670,0.240,2310.600,0.780,25415.0,0.060
2024-10-07,5633.910,1310.910,1285.940,-0.600,2371.070,0.320,25415.0,0.010
2024-10-08,5564.715,1302.485,1270.585,-0.795,2443.595,0.375,25037.5,-0.035
2024-10-09,5495.520,1294.060,1255.230,-0.990,2516.120,0.430,24660.0,-0.080
2024-10-10,5780.050,1360.580,1286.360,0.350,2629.480,0.830,24830.0,0.000

### Giá vàng, dầu, bitcoin

In [441]:
import yfinance as yf

# Tải dữ liệu giá vàng hợp đồng tương lai (GC=F) từ Yahoo Finance
data_G = yf.download("GC=F", start="2022-01-01", end="2024-10-15")
print(data_G)

# Giá dầu thô
data_E = yf.download("BZ=F", start="2022-01-01", end="2024-10-15")
print(data_E)

# Giá Bitcoin
data_B = yf.download("BTC-USD", start="2022-01-01", end="2024-10-15")
print(data_B)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

Price         Adj Close        Close         High          Low         Open  \
Ticker             GC=F         GC=F         GC=F         GC=F         GC=F
Date
2022-01-03  1799.400024  1799.400024  1830.099976  1798.800049  1830.099976
2022-01-04  1814.000000  1814.000000  1815.300049  1800.000000  1800.500000
2022-01-05  1824.599976  1824.599976  1824.599976  1813.099976  1813.099976
2022-01-06  1788.699951  1788.699951  1791.300049  1787.099976  1787.099976
2022-01-07  1797.000000  1797.000000  1797.000000  1784.400024  1791.800049
...                 ...          ...          ...          ...          ...
2024-10-08  2615.000000  2615.000000  2639.000000  2609.300049  2639.000000
2024-10-09  2606.000000  2606.000000  2607.699951  2603.000000  2603.000000
2024-10-10  2620.600098  2620.600098  2628.300049  2602.500000  2602.500000
2024-10-11  2657.600098  2657.600098  2658.100098  2638.199951  2638.300049
2024-10-14  2647.800049  2647.800049  2655.300049  2647.800049  2655.000000

Price      Volume
Ticker       GC=F
Date
2022-01-03    116
2022-01-04     38
2022-01-05      8
2022-01-06     30
2022-01-07     17
...           ...
2024-10-08    687
2024-10-09    152
2024-10-10    320
2024-10-11     12
2024-10-14     40

[699 rows x 6 columns]
Price       Adj Close      Close       High        Low       Open Volume
Ticker           BZ=F       BZ=F       BZ=F       BZ=F       BZ=F   BZ=F
Date
2022-01-03  78.980003  78.980003  79.279999  77.040001  77.940002  27224
2022-01-04  80.000000  80.000000  80.550003  78.599998  78.949997  31321
2022-01-05  80.800003  80.800003  81.489998  79.550003  80.080002  35152
2022-01-06  81.989998  81.989998  82.839996  79.629997  80.150002  41582
2022-01-07  81.750000  81.750000  82.989998  81.440002  82.059998  29501
...               ...        ...        ...        ...        ...    ...
2024-10-08  77.180000  77.180000  82.080002  76.370003  81.160004  66184
2024-10-09  76.580002  76.580002  78.019997  75.150002  77.519997  46931
2024-10-10  79.400002  79.400002  79.720001  76.739998  76.750000  43562
2024-10-11  79.040001  79.040001  79.489998  78.050003  79.230003  44341
2024-10-14  77.459999  77.459999  78.599998  75.389999  78.599998  35593

[700 rows x 6 columns]
Price          Adj Close         Close          High           Low  \
Ticker           BTC-USD       BTC-USD       BTC-USD       BTC-USD
Date
2022-01-01  47686.812500  47686.812500  47827.312500  46288.484375
2022-01-02  47345.218750  47345.218750  47881.406250  46856.937500
2022-01-03  46458.117188  46458.117188  47510.726562  45835.964844
2022-01-04  45897.574219  45897.574219  47406.546875  45752.464844
2022-01-05  43569.003906  43569.003906  46929.046875  42798.222656
...                  ...           ...           ...           ...
2024-10-10  60274.500000  60274.500000  61236.722656  58895.207031
2024-10-11  62445.089844  62445.089844  63400.871094  60046.125000
2024-10-12  63193.023438  63193.023438  63448.785156  62443.269531
2024-10-13  62851.375000  62851.375000  63272.652344  62035.636719
2024-10-14  66046.125000  66046.125000  66482.492188  62442.152344

Price               Open       Volume
Ticker           BTC-USD      BTC-USD
Date
2022-01-01  46311.746094  24582667004
2022-01-02  47680.925781  27951569547
2022-01-03  47343.542969  33071628362
2022-01-04  46458.851562  42494677905
2022-01-05  45899.359375  36851084859
...                  ...          ...
2024-10-10  60581.929688  30452813570
2024-10-11  60275.460938  30327141594
2024-10-12  62444.617188  16744110886
2024-10-13  63192.945312  18177529690
2024-10-14  62848.398438  43706958056

[1018 rows x 6 columns]

In [442]:
# Làm phẳng multi-level columns
if isinstance(data_G.columns, pd.MultiIndex):
    data_G.columns = [col[0] for col in data_G.columns.values]

if isinstance(data_E.columns, pd.MultiIndex):
    data_E.columns = [col[0] for col in data_E.columns.values]

if isinstance(data_B.columns, pd.MultiIndex):
    data_B.columns = [col[0] for col in data_B.columns.values]

In [443]:
# Nhập dữ liệu vào df
df = enter_col(df, 'Gold', data_G['Close'])
df = enter_col(df, 'Gold_volum', data_G['Volume'])

df = enter_col(df, 'Oil', data_E['Close'])
df = enter_col(df, 'Oil_volum', data_E['Volume'])

df = enter_col(df, 'Bitcoin', data_B['Close'])
df = enter_col(df, 'Bitcoin_volum', data_B['Volume'])

df

C:\Users\dntth\AppData\Local\Temp\ipykernel_17304\2978164836.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = np.nan
C:\Users\dntth\AppData\Local\Temp\ipykernel_17304\2978164836.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = np.nan
C:\Users\dntth\AppData\Local\Temp\ipykernel_17304\2978164836.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = np.nan
C:\Users\dntth\AppData\Local\Temp\ipykernel_17304\2978164836.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = np.nan
C:\Users\dntth\AppData\Local\Temp\ipykernel_17304\2978164836.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = np.nan
C:\Users\dntth\AppData\Local\Temp\ipykernel_17304\2978164836.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = np.nan

,SP_500,VN_30,VN_Index,VN_Index_volum,XAU_USD,XAU_USD_volum,USD_VND,USD_VND_volum,Gold,Gold_volum,Oil,Oil_volum,Bitcoin,Bitcoin_volum
Date,,,,,,,,,,,,,,
2022-01-03,4306.260,1520.120,1498.780,0.580,1943.220,1.850,22815.0,0.040,1799.400024,116.0,78.980003,27224.0,46458.117188,3.307163e+10
2022-01-04,4545.860,1542.470,1516.440,1.630,1924.300,-0.670,22837.0,0.000,1814.000000,38.0,80.000000,31321.0,45897.574219,4.249468e+10
2022-01-05,4323.545,1438.980,1407.980,1.080,1884.925,-0.105,23016.5,0.025,1824.599976,8.0,80.800003,35152.0,43569.003906,3.685108e+10
2022-01-06,4101.230,1335.490,1299.520,0.530,1845.550,0.460,23196.0,0.050,1788.699951,30.0,81.989998,41582.0,43160.929688,3.020805e+10
2022-01-07,3825.330,1252.240,1198.900,0.110,1810.180,0.180,23300.0,0.190,1797.000000,17.0,81.750000,29501.0,41557.902344,8.419661e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-10-06,5360.790,1311.100,1290.670,0.240,2310.600,0.780,25415.0,0.060,NaN,NaN,NaN,NaN,62818.953125,1.477623e+10
2024-10-07,5633.910,1310.910,1285.940,-0.600,2371.070,0.320,25415.0,0.010,2644.800049,284.0,80.930000,55050.0,62236.660156,3.425356e+10
2024-10-08,5564.715,1302.485,1270.585,-0.795,2443.595,0.375,25037.5,-0.035,2615.000000,687.0,77.180000,66184.0,62131.968750,2.813448e+10
2024-10-09,5495.520,1294.060,1255.230,-0.990,2516.120,0.430,24660.0,-0.080,2606.000000,152.0,76.580002,46931.0,60582.101562,2.767098e+10
2024-10-10,5780.050,1360.580,1286.360,0.350,2629.480,0.830,24830.0,0.000,2620.600098,320.0,79.400002,43562.0,60274.500000,3.045281e+10

### Xử lý dữ liệu chứng khoán

In [449]:
# Thay đường dẫn này bằng đường dẫn đến thư mục chứa file CSV
folder_path = r'./data_finan/data_stock'

In [454]:


# Lặp qua tất cả các file trong thư mục
for file_name in os.listdir(folder_path):
    if file_name.endswith('.csv'):  # Chỉ đọc các file CSV
        file_path = os.path.join(folder_path, file_name)
        # Đọc file CSV và thêm vào danh sách
        df_stock = pd.read_csv(file_path)
        name_stock = file_name.split('.')[0]  # Tên mã cổ phiếu
        df_stock = enter_col(df, name_stock, df_stock['Lần cuối'])
        # df_stock = enter_col(df, f"{name_stock}_volume", df_stock['KL'])

        df_stock.to_csv(f"./data_model/{name_stock}.csv")

        print(f"Đã đọc dữ liệu của mã cổ phiếu {df_stock}")

Đã đọc dữ liệu của mã cổ phiếu               SP_500     VN_30  VN_Index  VN_Index_volum   XAU_USD  \
Date
2022-01-03  4306.260  1520.120  1498.780           0.580  1943.220
2022-01-04  4545.860  1542.470  1516.440           1.630  1924.300
2022-01-05  4323.545  1438.980  1407.980           1.080  1884.925
2022-01-06  4101.230  1335.490  1299.520           0.530  1845.550
2022-01-07  3825.330  1252.240  1198.900           0.110  1810.180
...              ...       ...       ...             ...       ...
2024-10-06  5360.790  1311.100  1290.670           0.240  2310.600
2024-10-07  5633.910  1310.910  1285.940          -0.600  2371.070
2024-10-08  5564.715  1302.485  1270.585          -0.795  2443.595
2024-10-09  5495.520  1294.060  1255.230          -0.990  2516.120
2024-10-10  5780.050  1360.580  1286.360           0.350  2629.480

            XAU_USD_volum  USD_VND  USD_VND_volum         Gold  Gold_volum  \
Date
2022-01-03          1.850  22815.0          0.040  1799.400024       116.0
2022-01-04         -0.670  22837.0          0.000  1814.000000        38.0
2022-01-05         -0.105  23016.5          0.025  1824.599976         8.0
2022-01-06          0.460  23196.0          0.050  1788.699951        30.0
2022-01-07          0.180  23300.0          0.190  1797.000000        17.0
...                   ...      ...            ...          ...         ...
2024-10-06          0.780  25415.0          0.060          NaN         NaN
2024-10-07          0.320  25415.0          0.010  2644.800049       284.0
2024-10-08          0.375  25037.5         -0.035  2615.000000       687.0
2024-10-09          0.430  24660.0         -0.080  2606.000000       152.0
2024-10-10          0.830  24830.0          0.000  2620.600098       320.0

            ...  ACB  BCM  BID  BVH  CTG  FPT  GAS  HDB  MBB  VIC
Date        ...
2022-01-03  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2022-01-04  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2022-01-05  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2022-01-06  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2022-01-07  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
...         ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
2024-10-06  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2024-10-07  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2024-10-08  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2024-10-09  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2024-10-10  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN

[1012 rows x 24 columns]
Đã đọc dữ liệu của mã cổ phiếu               SP_500     VN_30  VN_Index  VN_Index_volum   XAU_USD  \
Date
2022-01-03  4306.260  1520.120  1498.780           0.580  1943.220
2022-01-04  4545.860  1542.470  1516.440           1.630  1924.300
2022-01-05  4323.545  1438.980  1407.980           1.080  1884.925
2022-01-06  4101.230  1335.490  1299.520           0.530  1845.550
2022-01-07  3825.330  1252.240  1198.900           0.110  1810.180
...              ...       ...       ...             ...       ...
2024-10-06  5360.790  1311.100  1290.670           0.240  2310.600
2024-10-07  5633.910  1310.910  1285.940          -0.600  2371.070
2024-10-08  5564.715  1302.485  1270.585          -0.795  2443.595
2024-10-09  5495.520  1294.060  1255.230          -0.990  2516.120
2024-10-10  5780.050  1360.580  1286.360           0.350  2629.480

            XAU_USD_volum  USD_VND  USD_VND_volum         Gold  Gold_volum  \
Date
2022-01-03          1.850  22815.0          0.040  1799.400024       116.0
2022-01-04         -0.670  22837.0          0.000  1814.000000        38.0
2022-01-05         -0.105  23016.5          0.025  1824.599976         8.0
2022-01-06          0.460  23196.0          0.050  1788.699951        30.0
2022-01-07          0.180  23300.0          0.190  1797.000000        17.0
...                   ...      ...            ...          ...         ...
2024-10-06          0.780  25415.0          0.060          NaN         NaN
2024-10-07          0.320  25415.0          0.010  2644.800049       284.0
2024-10-08          0.375  25037.5         -0.035  2615.000000       687.0
2024-10-09          0.430  24660.0         -0.080  2606.000000       152.0
2024-10-10          0.830  24830.0          0.000  2620.600098       320.0

            ...  ACB  BCM  BID  BVH  CTG  FPT  GAS  HDB  MBB  VIC
Date        ...
2022-01-03  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2022-01-04  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2022-01-05  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2022-01-06  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2022-01-07  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
...         ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
2024-10-06  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2024-10-07  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2024-10-08  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2024-10-09  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2024-10-10  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN

[1012 rows x 24 columns]
Đã đọc dữ liệu của mã cổ phiếu               SP_500     VN_30  VN_Index  VN_Index_volum   XAU_USD  \
Date
2022-01-03  4306.260  1520.120  1498.780           0.580  1943.220
2022-01-04  4545.860  1542.470  1516.440           1.630  1924.300
2022-01-05  4323.545  1438.980  1407.980           1.080  1884.925
2022-01-06  4101.230  1335.490  1299.520           0.530  1845.550
2022-01-07  3825.330  1252.240  1198.900           0.110  1810.180
...              ...       ...       ...             ...       ...
2024-10-06  5360.790  1311.100  1290.670           0.240  2310.600
2024-10-07  5633.910  1310.910  1285.940          -0.600  2371.070
2024-10-08  5564.715  1302.485  1270.585          -0.795  2443.595
2024-10-09  5495.520  1294.060  1255.230          -0.990  2516.120
2024-10-10  5780.050  1360.580  1286.360           0.350  2629.480

            XAU_USD_volum  USD_VND  USD_VND_volum         Gold  Gold_volum  \
Date
2022-01-03          1.850  22815.0          0.040  1799.400024       116.0
2022-01-04         -0.670  22837.0          0.000  1814.000000        38.0
2022-01-05         -0.105  23016.5          0.025  1824.599976         8.0
2022-01-06          0.460  23196.0          0.050  1788.699951        30.0
2022-01-07          0.180  23300.0          0.190  1797.000000        17.0
...                   ...      ...            ...          ...         ...
2024-10-06          0.780  25415.0          0.060          NaN         NaN
2024-10-07          0.320  25415.0          0.010  2644.800049       284.0
2024-10-08          0.375  25037.5         -0.035  2615.000000       687.0
2024-10-09          0.430  24660.0         -0.080  2606.000000       152.0
2024-10-10          0.830  24830.0          0.000  2620.600098       320.0

            ...  ACB  BCM  BID  BVH  CTG  FPT  GAS  HDB  MBB  VIC
Date        ...
2022-01-03  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2022-01-04  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2022-01-05  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2022-01-06  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2022-01-07  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
...         ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
2024-10-06  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2024-10-07  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2024-10-08  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2024-10-09  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2024-10-10  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN

[1012 rows x 24 columns]
Đã đọc dữ liệu của mã cổ phiếu               SP_500     VN_30  VN_Index  VN_Index_volum   XAU_USD  \
Date
2022-01-03  4306.260  1520.120  1498.780           0.580  1943.220
2022-01-04  4545.860  1542.470  1516.440           1.630  1924.300
2022-01-05  4323.545  1438.980  1407.980           1.080  1884.925
2022-01-06  4101.230  1335.490  1299.520           0.530  1845.550
2022-01-07  3825.330  1252.240  1198.900           0.110  1810.180
...              ...       ...       ...             ...       ...
2024-10-06  5360.790  1311.100  1290.670           0.240  2310.600
2024-10-07  5633.910  1310.910  1285.940          -0.600  2371.070
2024-10-08  5564.715  1302.485  1270.585          -0.795  2443.595
2024-10-09  5495.520  1294.060  1255.230          -0.990  2516.120
2024-10-10  5780.050  1360.580  1286.360           0.350  2629.480

            XAU_USD_volum  USD_VND  USD_VND_volum         Gold  Gold_volum  \
Date
2022-01-03          1.850  22815.0          0.040  1799.400024       116.0
2022-01-04         -0.670  22837.0          0.000  1814.000000        38.0
2022-01-05         -0.105  23016.5          0.025  1824.599976         8.0
2022-01-06          0.460  23196.0          0.050  1788.699951        30.0
2022-01-07          0.180  23300.0          0.190  1797.000000        17.0
...                   ...      ...            ...          ...         ...
2024-10-06          0.780  25415.0          0.060          NaN         NaN
2024-10-07          0.320  25415.0          0.010  2644.800049       284.0
2024-10-08          0.375  25037.5         -0.035  2615.000000       687.0
2024-10-09          0.430  24660.0         -0.080  2606.000000       152.0
2024-10-10          0.830  24830.0          0.000  2620.600098       320.0

            ...  ACB  BCM  BID  BVH  CTG  FPT  GAS  HDB  MBB  VIC
Date        ...
2022-01-03  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2022-01-04  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2022-01-05  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2022-01-06  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2022-01-07  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
...         ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
2024-10-06  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2024-10-07  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2024-10-08  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2024-10-09  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2024-10-10  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN

[1012 rows x 24 columns]
Đã đọc dữ liệu của mã cổ phiếu               SP_500     VN_30  VN_Index  VN_Index_volum   XAU_USD  \
Date
2022-01-03  4306.260  1520.120  1498.780           0.580  1943.220
2022-01-04  4545.860  1542.470  1516.440           1.630  1924.300
2022-01-05  4323.545  1438.980  1407.980           1.080  1884.925
2022-01-06  4101.230  1335.490  1299.520           0.530  1845.550
2022-01-07  3825.330  1252.240  1198.900           0.110  1810.180
...              ...       ...       ...             ...       ...
2024-10-06  5360.790  1311.100  1290.670           0.240  2310.600
2024-10-07  5633.910  1310.910  1285.940          -0.600  2371.070
2024-10-08  5564.715  1302.485  1270.585          -0.795  2443.595
2024-10-09  5495.520  1294.060  1255.230          -0.990  2516.120
2024-10-10  5780.050  1360.580  1286.360           0.350  2629.480

            XAU_USD_volum  USD_VND  USD_VND_volum         Gold  Gold_volum  \
Date
2022-01-03          1.850  22815.0          0.040  1799.400024       116.0
2022-01-04         -0.670  22837.0          0.000  1814.000000        38.0
2022-01-05         -0.105  23016.5          0.025  1824.599976         8.0
2022-01-06          0.460  23196.0          0.050  1788.699951        30.0
2022-01-07          0.180  23300.0          0.190  1797.000000        17.0
...                   ...      ...            ...          ...         ...
2024-10-06          0.780  25415.0          0.060          NaN         NaN
2024-10-07          0.320  25415.0          0.010  2644.800049       284.0
2024-10-08          0.375  25037.5         -0.035  2615.000000       687.0
2024-10-09          0.430  24660.0         -0.080  2606.000000       152.0
2024-10-10          0.830  24830.0          0.000  2620.600098       320.0

            ...  ACB  BCM  BID  BVH  CTG  FPT  GAS  HDB  MBB  VIC
Date        ...
2022-01-03  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2022-01-04  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2022-01-05  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2022-01-06  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2022-01-07  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
...         ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
2024-10-06  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2024-10-07  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2024-10-08  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2024-10-09  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2024-10-10  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN

[1012 rows x 24 columns]
Đã đọc dữ liệu của mã cổ phiếu               SP_500     VN_30  VN_Index  VN_Index_volum   XAU_USD  \
Date
2022-01-03  4306.260  1520.120  1498.780           0.580  1943.220
2022-01-04  4545.860  1542.470  1516.440           1.630  1924.300
2022-01-05  4323.545  1438.980  1407.980           1.080  1884.925
2022-01-06  4101.230  1335.490  1299.520           0.530  1845.550
2022-01-07  3825.330  1252.240  1198.900           0.110  1810.180
...              ...       ...       ...             ...       ...
2024-10-06  5360.790  1311.100  1290.670           0.240  2310.600
2024-10-07  5633.910  1310.910  1285.940          -0.600  2371.070
2024-10-08  5564.715  1302.485  1270.585          -0.795  2443.595
2024-10-09  5495.520  1294.060  1255.230          -0.990  2516.120
2024-10-10  5780.050  1360.580  1286.360           0.350  2629.480

            XAU_USD_volum  USD_VND  USD_VND_volum         Gold  Gold_volum  \
Date
2022-01-03          1.850  22815.0          0.040  1799.400024       116.0
2022-01-04         -0.670  22837.0          0.000  1814.000000        38.0
2022-01-05         -0.105  23016.5          0.025  1824.599976         8.0
2022-01-06          0.460  23196.0          0.050  1788.699951        30.0
2022-01-07          0.180  23300.0          0.190  1797.000000        17.0
...                   ...      ...            ...          ...         ...
2024-10-06          0.780  25415.0          0.060          NaN         NaN
2024-10-07          0.320  25415.0          0.010  2644.800049       284.0
2024-10-08          0.375  25037.5         -0.035  2615.000000       687.0
2024-10-09          0.430  24660.0         -0.080  2606.000000       152.0
2024-10-10          0.830  24830.0          0.000  2620.600098       320.0

            ...  ACB  BCM  BID  BVH  CTG  FPT  GAS  HDB  MBB  VIC
Date        ...
2022-01-03  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2022-01-04  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2022-01-05  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2022-01-06  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2022-01-07  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
...         ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
2024-10-06  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2024-10-07  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2024-10-08  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2024-10-09  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2024-10-10  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN

[1012 rows x 24 columns]
Đã đọc dữ liệu của mã cổ phiếu               SP_500     VN_30  VN_Index  VN_Index_volum   XAU_USD  \
Date
2022-01-03  4306.260  1520.120  1498.780           0.580  1943.220
2022-01-04  4545.860  1542.470  1516.440           1.630  1924.300
2022-01-05  4323.545  1438.980  1407.980           1.080  1884.925
2022-01-06  4101.230  1335.490  1299.520           0.530  1845.550
2022-01-07  3825.330  1252.240  1198.900           0.110  1810.180
...              ...       ...       ...             ...       ...
2024-10-06  5360.790  1311.100  1290.670           0.240  2310.600
2024-10-07  5633.910  1310.910  1285.940          -0.600  2371.070
2024-10-08  5564.715  1302.485  1270.585          -0.795  2443.595
2024-10-09  5495.520  1294.060  1255.230          -0.990  2516.120
2024-10-10  5780.050  1360.580  1286.360           0.350  2629.480

            XAU_USD_volum  USD_VND  USD_VND_volum         Gold  Gold_volum  \
Date
2022-01-03          1.850  22815.0          0.040  1799.400024       116.0
2022-01-04         -0.670  22837.0          0.000  1814.000000        38.0
2022-01-05         -0.105  23016.5          0.025  1824.599976         8.0
2022-01-06          0.460  23196.0          0.050  1788.699951        30.0
2022-01-07          0.180  23300.0          0.190  1797.000000        17.0
...                   ...      ...            ...          ...         ...
2024-10-06          0.780  25415.0          0.060          NaN         NaN
2024-10-07          0.320  25415.0          0.010  2644.800049       284.0
2024-10-08          0.375  25037.5         -0.035  2615.000000       687.0
2024-10-09          0.430  24660.0         -0.080  2606.000000       152.0
2024-10-10          0.830  24830.0          0.000  2620.600098       320.0

            ...  ACB  BCM  BID  BVH  CTG  FPT  GAS  HDB  MBB  VIC
Date        ...
2022-01-03  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2022-01-04  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2022-01-05  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2022-01-06  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2022-01-07  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
...         ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
2024-10-06  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2024-10-07  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2024-10-08  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2024-10-09  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2024-10-10  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN

[1012 rows x 24 columns]
Đã đọc dữ liệu của mã cổ phiếu               SP_500     VN_30  VN_Index  VN_Index_volum   XAU_USD  \
Date
2022-01-03  4306.260  1520.120  1498.780           0.580  1943.220
2022-01-04  4545.860  1542.470  1516.440           1.630  1924.300
2022-01-05  4323.545  1438.980  1407.980           1.080  1884.925
2022-01-06  4101.230  1335.490  1299.520           0.530  1845.550
2022-01-07  3825.330  1252.240  1198.900           0.110  1810.180
...              ...       ...       ...             ...       ...
2024-10-06  5360.790  1311.100  1290.670           0.240  2310.600
2024-10-07  5633.910  1310.910  1285.940          -0.600  2371.070
2024-10-08  5564.715  1302.485  1270.585          -0.795  2443.595
2024-10-09  5495.520  1294.060  1255.230          -0.990  2516.120
2024-10-10  5780.050  1360.580  1286.360           0.350  2629.480

            XAU_USD_volum  USD_VND  USD_VND_volum         Gold  Gold_volum  \
Date
2022-01-03          1.850  22815.0          0.040  1799.400024       116.0
2022-01-04         -0.670  22837.0          0.000  1814.000000        38.0
2022-01-05         -0.105  23016.5          0.025  1824.599976         8.0
2022-01-06          0.460  23196.0          0.050  1788.699951        30.0
2022-01-07          0.180  23300.0          0.190  1797.000000        17.0
...                   ...      ...            ...          ...         ...
2024-10-06          0.780  25415.0          0.060          NaN         NaN
2024-10-07          0.320  25415.0          0.010  2644.800049       284.0
2024-10-08          0.375  25037.5         -0.035  2615.000000       687.0
2024-10-09          0.430  24660.0         -0.080  2606.000000       152.0
2024-10-10          0.830  24830.0          0.000  2620.600098       320.0

            ...  ACB  BCM  BID  BVH  CTG  FPT  GAS  HDB  MBB  VIC
Date        ...